* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:40px;
}

.logo span{
    font-weight:700;
    line-height:1.1;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-size:14px;
}

.register-btn{
    text-decoration:none;

    background:#2563eb;
    color:white;

    padding:12px 24px;

    border-radius:8px;

    font-weight:600;
}