* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.nav-links {
    display: flex;
    gap: 25px;

    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.register-btn {
    background: #2563eb;
    color: white;

    border: none;

    padding: 12px 20px;

    border-radius: 8px;
}